.cellTableCell {
  white-space: nowrap;
}

.cellTableSelectedRowCell {
  border: selectionBorderWidth solid transparent;
}

.cellTableHeader {
  border-bottom: 2px solid #6f7277;
  padding: 3px 15px;
  text-align: left;
  color: #254b87;
  text-shadow: none;
  overflow: hidden;
}
