/** Add css rules here for your application. */
.greenBackground {
	background-color: green;
}

.yellowBackground {
	background-color: yellow;
}

.redBackground {
	background-color: red;
}

.greyBackground  {
	background-image: -webkit-radial-gradient(50% 50%, circle closest-corner, #ededed, #cdcdcd);
	background-color: #ededed;
}